<!--The whole content below can be removed with the new code.-->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp;{{ 'TITLE' | translate }}</a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div *ngIf="newsLoaded">
                <app-filters [news]="allNews" (filtered)="filtered($event)"></app-filters>
            </div>
        </div>
        <div class="col s8 center-align">
            <div *ngIf="!newsLoaded">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div>
                    {{'LOADING_NEWS' | translate}}
                </div>
            </div>
            <div *ngIf="newsLoaded">
                <div *ngFor="let news of filteredNews | paginate: { itemsPerPage: newsPerPage, currentPage: page }">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <a [href]="news?.URL" target="_blank">{{news?.TITLE}}</a>
                    </div>
                </div>
                <div>
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>